DATABASE_ENV=dev (в режиме разработки)/prod (в режиме продакшн)

POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432

SECRET_KEY='jgfddtnk-kjhjhggm%mllpoplnvfc'
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,mysite.ru